{% extends 'dashboard/base.html' %}



{% block title %}index{% endblock title %}

{% block content %}

<h3>Hola  "{{username}}" Actualizar datos. id {{user_id}} </h3><br> 
<br>
<table class="table" >
    <thead>
        <th>
            id
        </th>
        <th>
            username
        </th>
        <th>
            p_total
        </th>
        <th>
            p_actual
        </th>
        <th>
            p_rezago
        </th>
        <th>
            created_at
        </th>
    </thead>

    {% for x in b_id %}
    <tbody>
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.area}}</td>
            <td>{{x.p_total}}</td>
            <td>{{x.p_actual}}</td>
            <td>{{x.p_rezago}}</td>
            <td>{{x.created_at}}</td>
        <td><a href="{{ url_for('simulacro.update',id=x.id) }}">edit</a></td>
        <td><a href="{{ url_for('simulacro.delete',id=x.id) }}">delete</a></td>
        </tr>
    </tbody>   
    {% endfor %}
</table>

{% endblock content %}

